reference/solution/Workflows/CHORESetStudyCreatedFlagforExistingProjects-8AF60E5C-254C-F011-877A-7C1E5275A51F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ktr_sharedcommondataserviceforapps_ab3e2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "cfb1fc1a-f4f5-499f-828d-acc6c913dedf"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_rows_Project": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fc6b8b7b-2803-4e68-94eb-99fda38c956e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "kt_projects"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_-_Project": {
          "foreach": "@outputs('List_rows_Project')?['body/value']",
          "actions": {
            "List_rows_Study": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bb618127-f51b-4fe4-b8a3-b232134ec964"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "kt_studies",
                  "$filter": "_kt_project_value eq @{items('Apply_to_each_-_Project')?['kt_projectid']} and statecode eq 0"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Check_if_Study_count_on_Project_is_greater_than_0": {
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "828f06c5-acbd-4995-80ee-9d69e0e2baac"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "kt_projects",
                      "recordId": "@items('Apply_to_each_-_Project')?['kt_projectid']",
                      "item/ktr_studycreated": true
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                }
              },
              "runAfter": {
                "List_rows_Study": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_a_row_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3af21b26-ca61-4c73-a5de-f1f9bad650b8"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "kt_projects",
                        "recordId": "@items('Apply_to_each_-_Project')?['kt_projectid']",
                        "item/ktr_studycreated": false
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@length(body('List_rows_Study')?['value'])",
                  0
                ]
              },
              "metadata": {
                "operationMetadataId": "e4778581-2e21-479c-bc29-52dfc39c922e"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows_Project": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "39795b23-cf94-412e-bb61-53bd4951a891"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}