reference/solution/Workflows/GenerateAnswerCodeforEntitiesOnChange-CB984049-AFEF-F011-8406-002248834C26.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ktr_sharedcommondataserviceforapps_822a4"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "c49e1d94-ef19-4910-9837-87304bb3dace"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ktr_managedlistentity",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "ktr_shouldgenerateanswercode eq true"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": []
        }
      },
      "actions": {
        "Initialize_ParentManagedListId": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6a495bd1-3573-4872-82b7-e263469e5a49"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ParentManagedListId",
                "type": "string",
                "value": "@triggerOutputs()?['body/_ktr_managedlist_value']"
              }
            ]
          }
        },
        "List_rows": {
          "runAfter": {
            "Initialize_ParentManagedListId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bd7c5fda-6440-47ff-982f-430aa246b196"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ktr_managedlistentities",
              "$select": "ktr_managedlistentityid, ktr_answercode, _ktr_managedlist_value",
              "$filter": "_ktr_managedlist_value eq @{variables('ParentManagedListId')}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_PreviousCodes": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e19969b6-b854-40df-89d4-26b4c9ff42f2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PreviousCodes",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Condition": {
              "actions": {
                "Append_to_array_variable": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "9c919719-200b-4081-9ed7-b0343415ce36"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "PreviousCodes",
                    "value": "@items('Apply_to_each')?['ktr_answercode']"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "not": {
                  "equals": [
                    "@items('Apply_to_each')?['ktr_answercode']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "bb6700da-6dcd-42fb-a513-605bb9372757"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_PreviousCodes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f56183da-03df-4a8b-9a5b-afbfe9017ea8"
          },
          "type": "Foreach"
        },
        "Try_-_Generate_Answer_Code": {
          "actions": {
            "Run_a_prompt": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1723bffc-6683-4bd8-9d55-7ff57f40cd99",
                "flowSystemMetadata": {
                  "portalOperationId": "aibuilderpredict_customprompt",
                  "portalOperationGroup": "aibuilder",
                  "portalOperationApiDisplayNameOverride": "AI Builder",
                  "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                  "portalOperationBrandColorOverride": "#0A76C4",
                  "portalOperationApiTierOverride": "Standard"
                }
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "aibuilderpredict_customprompt",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "recordId": "d7e2e2f5-13fb-4075-a736-fb9b40a368b8",
                  "item/requestv2/AnswerText": "{\n  \"previousCodes\": @{variables('PreviousCodes')},\n  \"questionText\": \"@{triggerOutputs()?['body/ktr_answertextvalue']}\"\n}"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_GenerateAnswerCode": {
              "runAfter": {
                "Run_a_prompt": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c62d80bf-f09a-4a5e-b87d-f9ca61b97e88"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "GeneratedAnswerCode",
                "value": "@outputs('Run_a_prompt')?['body/responsev2/predictionOutput/text']"
              }
            },
            "Update_a_row": {
              "runAfter": {
                "Set_GenerateAnswerCode": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7bc8d5b5-b6bf-4dac-bcc1-46b78f854a4d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ktr_managedlistentities",
                  "recordId": "@triggerOutputs()?['body/ktr_managedlistentityid']",
                  "item/ktr_answercode": "@variables('GeneratedAnswerCode')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_GeneratedAnswerCode": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d63ec5c-cc3d-4830-b0f1-c1e2f62d7e37"
          },
          "type": "Scope"
        },
        "Initialize_GeneratedAnswerCode": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "317e5197-a850-4c8b-8b6c-bd3461e19337"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "GeneratedAnswerCode",
                "type": "string"
              }
            ]
          }
        },
        "Catch": {
          "actions": {},
          "runAfter": {
            "Try_-_Generate_Answer_Code": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6f75ef17-9ada-412f-a5b5-ac7946bed58f"
          },
          "type": "Scope"
        },
        "Update_a_row_2": {
          "runAfter": {
            "Catch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "28166f62-e3b9-4d45-9c82-7cf6e61a4dcd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ktr_managedlistentities",
              "recordId": "@outputs('Update_a_row')?['body/ktr_managedlistentityid']",
              "item/ktr_shouldgenerateanswercode": false
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}