reference/solution/Workflows/NEWWhenaStudyrowisaddedmodifiedordeleted-GetProjec-84BE70CA-2936-F011-8C4E-7C1E526146D1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ktr_sharedcommondataserviceforapps_ab3e2"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "49862f12-588b-43bc-a504-5f271133a23a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "kt_study",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Project_from_Study": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "350680f6-dcf7-4cac-a283-2fee9c226df3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "kt_projects",
              "recordId": "@triggerOutputs()?['body/_kt_project_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_QuestionnaireLines_from_Project": {
          "runAfter": {
            "Get_Project_from_Study": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2cea7c90-4422-4147-8529-0151b8b59769"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "kt_questionnairelineses",
              "$select": "kt_questionnairelinesid,kt_questionsortorder, kt_questionvariablename",
              "$filter": "_ktr_project_value eq '@{triggerOutputs()?['body/_kt_project_value']}' and statecode eq 0"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_QuestionnaireLine": {
          "foreach": "@outputs('Get_QuestionnaireLines_from_Project')?['body/value']",
          "actions": {
            "Add_a_Study_QuestionnaireLine_rows": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "10cc6a8f-24ad-4294-aadd-ce58643e9a6c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ktr_studyquestionnairelines",
                  "item/ktr_name": "@items('Apply_to_each_QuestionnaireLine')?['kt_questionvariablename']",
                  "item/ktr_Study@odata.bind": "/kt_studies(@{triggerOutputs()?['body/kt_studyid']})",
                  "item/ktr_QuestionnaireLine@odata.bind": "/kt_questionnairelineses(@{items('Apply_to_each_QuestionnaireLine')?['kt_questionnairelinesid']})",
                  "item/ktr_sortorder": "@items('Apply_to_each_QuestionnaireLine')?['kt_questionsortorder']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_QuestionnaireLines_from_Project": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3fe59b65-b778-4983-b105-eb0a7b323f52"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 20
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}