reference/solution/Workflows/poc-cluedin_transformation-9BBBC02A-04FE-F011-8406-002248834C26.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "6c415d88-2393-40e8-b2ac-fef5a78d8f69"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Input",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input. eg: [\"Row=BRANDLIST, TARGETWORDS\", \"Column=ACTIVATION_STATEMENTS\"]",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_input": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8b78d011-8cb9-490e-b591-404c8f9e2abe"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "input",
                "type": "array",
                "value": "@json(triggerBody()?['text'])"
              }
            ]
          }
        },
        "Initialize_result": {
          "runAfter": {
            "Initialize_input": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c49d2280-924b-4a71-83ec-07cb53eec63d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "result",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_order": {
          "runAfter": {
            "Initialize_result": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ea904232-0dd1-4b3c-a82c-6a7915ea5be0"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "order",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "ForEach_Pair": {
          "foreach": "@variables('input')",
          "actions": {
            "ForEach_Name": {
              "foreach": "@outputs('compose_NamesArray')",
              "actions": {
                "Increment_order": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ee3d95ba-478d-47cd-88f3-a577c3c40bcd"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "order",
                    "value": 1
                  }
                },
                "Append_to_array_variable": {
                  "runAfter": {
                    "Increment_order": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "df4b1877-8fd3-4ac6-b3c2-cd028dca8684"
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "result",
                    "value": {
                      "name": "@{trim(items('ForEach_Name'))}",
                      "location": "@{trim(first(split(items('ForEach_Pair'), '=')))}",
                      "displayOrder": "@variables('order')"
                    }
                  }
                }
              },
              "runAfter": {
                "compose_NamesArray": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ac5c15c3-eff9-4845-a6c8-7b89874a2efc"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Reset_order": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d05baf3c-ba25-4136-862d-72e7b0a6268d"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "order",
                "value": 0
              }
            },
            "compose_NamesArray": {
              "runAfter": {
                "Reset_order": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a9cceacb-1fdf-4170-8073-3536e770a55a"
              },
              "type": "Compose",
              "inputs": "@split(last(split(items('ForEach_Pair'), '=')), ',')"
            }
          },
          "runAfter": {
            "Initialize_order": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9dfd12fb-e629-43a6-aac7-8c6891bc3a26"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Compose": {
          "runAfter": {
            "ForEach_Pair": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af6c43fe-e312-4c76-a609-c7d286e82935"
          },
          "type": "Compose",
          "inputs": {
            "sharedLists": "@variables('result')"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}